body {
	background-color: lightgray;

	font-size: 18px;
	font-family: "Tinos", serif;
}

h1 {
	font-weight: bold;
	font-size: 24px;
	margin: 5px;
	font-family: "Lexend Deca", sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 22px;
	margin: 4px;
	font-family: "Lexend Deca", sans-serif;
}

h3 {
	font-weight: 600;
	font-size: 20px;
	margin: 2px;
	font-family: "Lexend Deca", sans-serif;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 35px;
}

.header {
	background-color: blue;
	width: 100%;
	min-height: 50px;
	text-align: center;
	align-content: center;
	border-bottom: 2px solid black;
	font-weight: bold;
	font-size: 32px;
	color: white;
}

.header div {
	color: white;
}

.main_content {
	background-color: white;
	max-width: 75%;
	margin: 15px auto;
	padding: 5px;
	border: 2px solid black;
}

.main_content.center {
	text-align: center;
}

.main_content .portrait {
	max-width: 50%;
	max-height: 300px;
	margin: 15px;
	border-radius: 15px;
	border: 1px solid black;
}

.main_content p {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;
}

.btn:hover {
	padding-left: 8px;
	padding-right: 8px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: blue;
	color: white;
	padding: 15px;
	border-top: 2px solid black;
}