<div class="row">
	<div class="col">
		<div class="footer-nav-title">Handy links</div>
		<ul class="list-unstyled">
			<li class="nav-item">
				<a class="nav-link" href="/index.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/articles.html">Articles</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/resources.html">Resources</a>
			</li>
		</ul>
	</div>
	<div class="col">
		<div class="footer-nav-title">Handy links 2</div>
		<ul class="list-unstyled">
			<li class="nav-item">
				<a class="nav-link" href="/about.html">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact.html">Contact</a>
			</li>
		</ul>
	</div>
	<p class="copyright col-12">© 2025 My Blog | All rights reserved.</p>
</div>