.card .img-fluid {
	height: 100%;
}

.card .card-body .card-text {
	height: 4.5rem;
	overflow: hidden;
}

.card-footer.statistics {
	vertical-align: bottom;
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
}

.card-footer.statistics .material-symbols-outlined {
	font-size: 1.2rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	margin-bottom: 0.05rem;
}

#articles.searching .card:not(.search-match) {
	filter: grayscale(80%);
}

.card.search-match {
	border-width: 0.15rem !important;
}

.card.search-match.search-match-best {
	border-color: limegreen !important;
}

@media (max-width: 767.98px) {
	#articles {
		max-width: 500px;
	}
}

@media (max-width: 991.98px) {
	#articles {
		max-width: 700px;
	}
}