.contacts li:nth-child(even) {
	background-color: var(--bg-tertiary);
}

.contacts a {
	text-decoration: none;
}

.contacts a:hover .link {
	text-decoration: underline;
}

#feedback {
	width: 50%;
}

@media (max-width: 991.98px) {
	#feedback {
		width: 95%;
	}
}